<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.tailwindcss.com"></script>

  <title>TimeStamp API</title>
</head>
<body class="bg-gray-300 px-4 flex flex-col">
  <div class="">
    <div class="flex flex-col mx-auto">
      <span class="text-6xl font-semibold mx-auto">TimeStamp API</span>
      <span class="text-xl mx-auto">by <a class="hover:text-purple-400" href="www.github.com/Ruaneves">dotRuan</a></span>
    </div>
  </div>
  <span class="w-full mt-2 h-1 bg-purple-400"></span>

  <div class="text-center">
    <div class="flex flex-col">
      <span class="text-2xl font-semibold">Exemplos de Como Usar:</span>
      <br>
      <code class="bg-white w-fit mx-auto">GET <span class="text-yellow-400">{URL}</span>/api/<span class="text-yellow-400">{Código ERA UNIX ou Data}</span></code>  
      <code class="bg-white w-fit mx-auto">GET {URL}/api/{Código ERA UNIX ou Data}</code>  
      <code class="bg-white w-fit mx-auto">GET {URL}/api/{Código ERA UNIX ou Data}</code>  
    </div>
  </div>
</body>

</html>